<template>
    <div>
        <b-tabs content-class='mt-3' v-model='tabIndex' justified>
            <b-tab title='World' :title-link-class='linkClass(0)'>
                <b-container>
                    <b-row class='text-center'>
                        <b-col cols=11>
                            <MapChart v-if='worldMap'
                                :countryData='worldMap'  
                                highColor="#ff0000"
                                lowColor="#17a2b8"
                                countryStrokeColor="#909090"
                                defaultCountryFillColor="#dadada" 
                                @clickCountry='countryClicked'
                                />
                        </b-col>
                        <b-col cols=1>
                            <b-button-group vertical>
                                <b-dropdown right text='Cases' :variant='getFilterBtnVariant("cases")'>
                                    <b-dropdown-item @click='worldVariant="cases"'>all</b-dropdown-item>
                                    <b-dropdown-item @click='worldVariant="todayCases"'>today</b-dropdown-item>
                                    <b-dropdown-item @click='worldVariant="casesPerOneMillion"'>per mln</b-dropdown-item>
                                </b-dropdown>
                                <b-dropdown right text='Deaths' :variant='getFilterBtnVariant("deaths")'>
                                    <b-dropdown-item @click='worldVariant="deaths"'>all</b-dropdown-item>
                                    <b-dropdown-item @click='worldVariant="todayDeaths"'>today</b-dropdown-item>
                                    <b-dropdown-item @click='worldVariant="deathsPerOneMillion"'>per mln</b-dropdown-item>
                                </b-dropdown>
                                <b-dropdown right text='Tests' :variant='getFilterBtnVariant("tests")'>
                                    <b-dropdown-item @click='worldVariant="tests"'>all</b-dropdown-item>
                                    <b-dropdown-item @click='worldVariant="testsPerOneMillion"'>per mln</b-dropdown-item>
                                </b-dropdown>
                                <b-button :variant='getFilterBtnVariant("recovered")' @click='worldVariant="recovered"'>Recovered</b-button>
                                <b-button :variant='getFilterBtnVariant("active")' @click='worldVariant="active"'>Active</b-button>
                                <b-button :variant='getFilterBtnVariant("critical")' @click='worldVariant="critical"'>Critical</b-button>
                            </b-button-group><br><br>
                            <b-icon icon='journal-plus' v-b-tooltip.hover title='add to raport' style='color:white; cursor:pointer;' class='h1 border rounded p-1 bg-warning'></b-icon>
                        </b-col>
                    </b-row>
                </b-container><br>
                <div>
                    <b-icon icon='file-earmark-spreadsheet-fill' v-b-tooltip.hover title='get csv' variant='warning' style='cursor:pointer; float:right;' class='h2'></b-icon>
                    <b-table striped :items='worldCases' :fields='worldTable'></b-table>
                </div>
                
            </b-tab>
            <b-tab title='Country' :title-link-class='linkClass(1)'>
                <v-select :options='worldCases' label='country' v-model='chosenCountry' style='width:80%; margin: auto;'></v-select>
                <br>
                <b-container v-if='chosenCountry' style='width:100%; max-width: 100%;'>
                    <b-row>
                        <b-col cols=5>
                            <b-jumbotron bg-variant='info' text-variant='white' border-variant='dark' style='margin:auto; width: 700px; padding:2rem 1rem;'>
                                <b-container>
                                    <b-row>
                                        <b-col>
                                            <h2>
                                                {{chosenCountry.country}} - {{chosenCountry.countryInfo.iso2}}
                                            </h2>
                                            <b-img thumbnail :src='chosenCountry.countryInfo.flag' alt='country flag'></b-img>
                                            <p>Population: {{chosenCountry.population}}</p>
                                        </b-col>
                                        <b-col>
                                        <hr class='my-4'>
                                            <p style='text-align:left'>
                                                All cases: {{chosenCountry.cases}} ({{chosenCountry.casesPerOneMillion}} per million)<br>
                                                All deaths: {{chosenCountry.deaths}} ({{chosenCountry.deathsPerOneMillion}} per million)<br>
                                                Recovered: {{chosenCountry.recovered}} ({{chosenCountry.recoveredPerOneMillion}} per million)<br>
                                                Active: {{chosenCountry.active}} ({{chosenCountry.activePerOneMillion}} per million)<br>
                                                Critical: {{chosenCountry.critical}} ({{chosenCountry.criticalPerOneMillion}} per million)<br>
                                                Tests: {{chosenCountry.tests}} ({{chosenCountry.testsPerOneMillion}} per million)<br>
                                                Today ({{getCurrentDate()}}): {{chosenCountry.todayCases}} cases, {{chosenCountry.todayDeaths}} deaths
                                            </p>
                                            <hr class='my-4'>
                                            <b-icon icon='journal-plus' v-b-tooltip.hover title='add to raport' style='color:white; cursor:pointer; float:right;' class='h1 border rounded p-1 bg-warning'></b-icon>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </b-jumbotron><br><br>
                            <b-button-group>
                                <b-button :variant='getBtnVariant("all", countryPeriod)' @click='countryPeriod="all"'>All</b-button>
                                <b-button :variant='getBtnVariant("30", countryPeriod)' @click='countryPeriod="30"'>Last 30 days</b-button>
                                <b-button :variant='getBtnVariant("7", countryPeriod)' @click='countryPeriod="7"'>Last 7 days</b-button>
                            </b-button-group>
                            <b-icon icon='journal-plus' v-b-tooltip.hover title='add to raport' style='color:white; cursor:pointer; float:right;' class='h1 border rounded p-1 bg-warning'></b-icon>
                        </b-col>
                        <b-col cols=7 >
                            <apexchart type="line" height="500" :options="chartOptions" :series="countryChartData" style='margin-left: 20px;'></apexchart>
                        </b-col>
                    </b-row>
                </b-container>
                <div  v-if='countryChartData'>
                    <b-icon icon='file-earmark-spreadsheet-fill' v-b-tooltip.hover title='get csv' variant='warning' style='cursor:pointer; float:right;' class='h2'></b-icon>
                    <b-table striped :items='countryTableData' :fields='countryTable'></b-table>
                </div>
            </b-tab>
            <b-tab title='Correlation' :title-link-class='linkClass(2)'>
                <br>
                <h1 style='width:1100px; margin:auto;text-align: justify;'>Strona w trakcie rozbudowy: zakładka pozwalajaca na wybranie czynnika (PKB, gini, populacja, gęstość zaludnienia, etc.) 
                    i generująca wykresy porównawcze (przykładowo punktowe); możliwość generacji linii trendu oraz wyliczenie jej wzoru; 
                    obliczenie współczynnika korelacji oraz r kwadrat; inne statystyki; tabela z dostepnymi danymi do pobrania.
                </h1>
            </b-tab>
            <b-tab title='Raport' title-link-class='text-info'><br>
                <b-container>
                    <b-row>
                        <b-col>
                            <b-list-group style='width: 400px; text-align: left; margin-left:200px;'>
                                <h3> Elements of the report</h3>
                                <b-list-group-item v-for='(element, i) in raportFile' :key='i'>
                                    {{element}}
                                    <b-badge variant='danger' pill style='float: right;'>delete</b-badge>
                                </b-list-group-item>
                            </b-list-group>
                        </b-col>
                        <b-col><br>
                            <h4>Download report</h4>
                            <b-button-group>
                                <b-button variant='info'>pdf</b-button>
                                <b-button variant='info'>doc</b-button>
                                <b-button variant='info'>ppt</b-button>
                            </b-button-group>
                        </b-col>
                    </b-row>
                </b-container>
                
            </b-tab>
            <template #tabs-end>
                <li role='presentation' class='nav-item align-self-center h3'>COVID-19 Analytics</li>
            </template>
        </b-tabs>
    </div>

</template>

<script>
    import {mapState, mapActions} from 'vuex'
    import MapChart from 'vue-map-chart'
    import axios from 'axios'

    export default {
        name: 'MainPage',
        data(){
            return{
                tabIndex: 0, //chosen tab
                //WORLD TAB
                worldCases:[], //api response for world
                worldTable:[], //data for world table
                worldVariant: 'cases',
                //COUNTRY TAB
                chosenCountry: '',
                countryTableData:[],
                countryTable: [],
                countryChartData: [],
                chartOptions: {},
                countryPeriod: 'all',
                //CORRELATION TAB
                //RAPORT TAB
                raportFile:['Total cases world map', 'Spain - description card', 'Spain - last 30 days chart', 'Total tests world map']
            }
        },
        computed: {
            ...mapState({
                test: (state) => state.test.test
            }),
            worldMap(){
                let data = {}
                this.worldCases.forEach(country => {
                    data[country.countryInfo.iso2] = country[this.worldVariant]
                });
                return data=={}?0:data
            },
               
        },
        watch:{
            chosenCountry(){
                this.countryPeriod = 'all'
                this.getCountryData()
            },
            countryPeriod(current, previous){
                if(current!=previous) this.getCountryData()
            }
        },
        methods: {
            ...mapActions('test', ['getTest']),
            linkClass(ind){
                return this.tabIndex==ind?'text-dark under':'text-info'
            },
            getCurrentDate(){
                const current = new Date()
                return current.getDate()+'/'+current.getMonth()+'/'+current.getFullYear()
            },
            getBtnVariant(a,b){
                return a==b?'warning':'info'
            },
            getFilterBtnVariant(name){
                if(this.worldVariant.toLowerCase().includes(name)) return 'warning'
                return 'info'
            },
            countryClicked(country){
                this.chosenCountry = this.worldCases.find(element => element.countryInfo.iso2 == country.code)
                this.tabIndex = 1 
                window.scrollTo(0,0)
            },
            getCountryData(){
                let tempChart = [], tempTable = [], options = {}
                let link ='https://corona.lmao.ninja/v2/historical/'
                link+=this.chosenCountry.country+'?lastdays='+this.countryPeriod
                axios
                    .get(link)
                    .then(response => {
                        let countryCases = response.data.timeline
                        
                        Object.keys(countryCases.cases).forEach(date =>{
                            //to ignore first records with no data
                            if(countryCases.cases[date]||countryCases.deaths[date]||countryCases.recovered[date]){
                                tempTable.push({
                                    "date": date,
                                    "cases": countryCases.cases[date],
                                    "deaths": countryCases.deaths[date],
                                    "recovered": countryCases.recovered[date]
                                })
                            }
                            
                        })

                        // vue chart js
                        options = {
                            chart: { height: 500, type: 'line', zoom: { enabled: false } },
                            colors: ['#17a2b8', '#dc3545', '#28a745'],
                            // colors: ['#2d73f5', '#ff6358', '#78d237'],
                            dataLabels: { enabled: false },
                            stroke: { curve: 'smooth' },
                            title: { text: 'Product Trends by Month', align: 'center' },
                            grid: { row: { colors: ['#f3f3f3', 'transparent'], opacity: 0.5 }, },
                            xaxis: { categories: [], tickAmount: 10, }
                        }

                        tempChart = [
                            { name: "cases", data: [] },
                            { name: "deaths", data: [] },
                            { name: "recovered", data: [] },
                        ]
                        
                        Object.keys(countryCases.cases).forEach(date =>{
                            //to ignore first records with no data
                            if(countryCases.cases[date]||countryCases.deaths[date]||countryCases.recovered[date]){
                                options.xaxis.categories.push(date)
                                tempChart[0].data.push(countryCases.cases[date])
                                tempChart[1].data.push(countryCases.deaths[date])
                                tempChart[2].data.push(countryCases.recovered[date])
                            }
                        })
                        
                        this.chartOptions = options
                        this.countryChartData = tempChart
                        this.countryTableData = tempTable
                    })
                    .catch(err => {
                        console.log(JSON.stringify(err))
                        // alert(err); 
                        //Country not found or doesn't have any historical data (Mont...)
                    })
            }
        },
        created(){
            //api query
            axios
                .get('https://corona.lmao.ninja/v2/countries?yesterday&sort')
                .then(response => {this.worldCases = response.data})
            
            //world table thead
            let tableCols = ['country','cases','todayCases','casesPerOneMillion','deaths','todayDeaths','deathsPerOneMillion','tests','testsPerOneMillion','recovered','active','critical']
            tableCols.forEach(column => {
                this.worldTable.push({'key': column, 'sortable': true})
            })
            //country table thead
            tableCols = ['date', 'cases', 'deaths','recovered'] 
            tableCols.forEach(column => {
                this.countryTable.push({'key': column, 'sortable': true})
            })
        },
        components:{
            MapChart,
        }
    }
</script>

<style>
    .under{
        text-decoration: underline;
        font-weight: bold;
    }

</style>